:root {
  --background: #5856d6;
  --border-color: #5b6367;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
