.container {
  width: 760px;
  min-height: 500px;
  border-radius: 32px;
  margin: 40px auto;
  border: 1px solid #eee;
  padding: 48px;
  background: #fff;
  box-shadow: 3px 5px 30px rgba(0, 0, 0, 0.2);
  position: relative;
}

.projectName {
  font-size: 24px;
  text-align: center;
  color: #fff;
}

.title {
  font-size: 48px;
  align-items: center;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.note {
  font-size: 24px;
  text-align: center;
}

.projectContainer {
  display: flex;
  align-items: center;
}

.projectContainer img {
  width: 40px;
  border-radius: 50px;
}

.mainPhoto {
  width: 300px;
  margin: 30px auto;
  display: block;
}

.entryPhoto {
  width: 185px;
  margin: 0 auto 20px;
  display: block;
}
