.container {
  max-width: 640px;
  margin: 40px auto;
  border: 1px solid #eee;
  padding: 20px;
  background: #fff;
  box-shadow: 3px 5px 30px rgba(0, 0, 0, 0.2);
}

.container h1 {
  font-size: 40px;
  text-align: center;
  margin: 20px 0;
}

.projectContainer {
  display: flex;
  align-items: center;
}

.projectContainer img {
  width: 40px;
  border-radius: 50px;
}

.container img {
  display: block;
  margin: 20px auto;
}

.container button {
  font-size: 20px;
  display: block;
  margin: 20px auto;
  padding: 8px 12px;
}

.mainPhoto {
  width: 400px;
}
